Exercice5/famille.dtd


<!ELEMENT  famille (nom,personne+)>
<!ATTLIST  personne pnumber ID #REQUIRED>
<!ATTLIST  personne mere IDREF #IMPLIED>
<!ATTLIST  personne pere IDREF #IMPLIED>
<!ELEMENT  personne (prenom, age, (poids-kg|poids-lb), taille?)>
<!ELEMENT  prenom (#PCDATA)>
<!ELEMENT  age (#PCDATA)>
<!ELEMENT  poids-kg (#PCDATA)>
<!ELEMENT  poids-lb (#PCDATA)>


